{% extends 'layout.html' %}
{% block body %}


<form action="{{ url_for('update_edit') }}" method="post" class="add-entry">

    <div class="vstack gap-3">

        <input type="hidden" name="id" value="{{ locate.id }}">
            <b><label for="title" class="form-label">Title</label></b>
            <input id="title" value="{{ locate.title }}" class="form-control" type="text" size="30" name="title" placeholder="Title">
            <b><label for="text" class="form-label">Text</label></b>
            <textarea id="text" class="form-control" name="text" rows="5" cols="40" placeholder="Text">{{ locate.text }}</textarea>
            <b><label for="cat" class="form-label">Category</label></b>
            <input id="cat" class="form-control" type="text" size="30" name="category" placeholder="Category" value="{{ locate.category }}">
    </div>
    <div class="fixed-bottom">
        <button type="submit" value="Share" class="btn btn-primary w-100">Edit</button>
    </div>
</form>


{% endblock %}