{% extends "layout.html" %}
{% block body %}


<div class="container text-center">
    <div class="col">
        <div class="row">
          {% for cat in category %}
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                <h2>{{ cat.title }}</h2>
                <h3>Category: {{ cat.category }}</h3>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form id="box" action="/delete" method="post">
                      <input name="id" type="hidden" value={{ cat.id }}>
                      <button type="submit" class="btn btn-secondary" id="button" name='delete'>Delete</button>
                    </form>
                    <form id="box" action="/edit" method="post">
                      <input name="id" type="hidden" value={{ cat.id }}>
                      <button type="submit" class="btn btn-secondary" id="button" name='delete'>Edit</button>

                    </form>
                    
                </div>
              <h2>Entry: {{ cat.text|safe }}</h2>
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

<div class="fixed-bottom">
    <form action="/return" method="post">
        <button class="btn btn-primary w-100" id="return button" name='return'>Return</button>
    </form>
</div>


{% endblock %}