{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
  <dl>
    <dt>Title:
    <dd><input type="text" size="30" name="title">
    <dt>Text:
    <dd><textarea name="text" rows="5" cols="40"></textarea>
    <dt>Category:
    <dd><input type="text" size="30" name="category"></dd>
    <p> </p>
    <dd><input type="submit" value="Share">
  </dl>
</form>
<div id="categories">
  <p><b>Filter posts based on their category: </b></p>
  <form action="/filter" method="post">
    <select name="category">
    <option name="category" selected="selected" disabled>Choose: </option>
      {% for cat in categories %}
      <option name="category" value="{{ cat.category }}">{{ cat.category }}</option>
      {% endfor %}
      <input id="filter" type="submit" value="filter">
    </select>
  </form>
</div>

<ul class="entries">
  {% for entry in entries %}
  <li>
    <h2>{{ entry.title }}</h2>
    <h3>Category: {{ entry.category }}</h3><b>Entry: {{ entry.text|safe }}</b>
  </li>
  <ins> </ins>
  <form id="box" action="/delete" method="post">
    <input name="id" type="hidden" value={{ entry.id }}>
    <button id="button" name='delete'>Delete</button>
  </form>
  <form id="box" action="/edit" method="post">
    <input name="id" type="hidden" value={{ entry.id }}>
    <button id="button" name='delete'>Edit</button>
  </form>

  {% else %}
  <li><em>Unbelievable. No entries here so far</em></li>
  {% endfor %}
</ul>

{% endblock %}